@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    background-image: url("/images/fond.avif");
    opacity: 1;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

/* body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.329);
    backdrop-filter: blur(4px);
    z-index: -1;
} */

.container {
    background-color: transparent;
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    padding: 40px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
    padding: 20px;
    position: relative;
    overflow: hidden;
}

.container::before {
    content: "";
    position: absolute;
    top: -50px;
    left: -50px;
    width: 100px;
    height: 100px;
    background-color: rgba(255, 209, 102, 0.6);
    border-radius: 50%;
    z-index: 0;
}

.container::after {
    content: "";
    position: absolute;
    bottom: -50px;
    right: -50px;
    width: 100px;
    height: 100px;
    background-color: rgba(6, 214, 160, 0.6);
    border-radius: 50%;
    z-index: 0;
}

h1 {
    color: white;
    text-align: center;
    margin-bottom: 30px;
    position: relative;
    z-index: 1;
}

form {
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 1;
}

label {
    margin-bottom: 2px;
    color: white;
    font-weight: 600;
}

input, textarea {
    padding: 10px;
    margin-bottom: 20px;
    border: 2px solid #e0e0e0;
    border-radius: 8px;
    font-size: 16px;
    transition: border-color 0.3s ease;
    background-color: #e0e0e0;
}

input:focus, textarea:focus {
    outline: none;
    /* border-color: #06d6a0; */
}

input[type="submit"] {
    background-color: #118ab2;
    color: white;
    border: none;
    padding: 15px;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    border-radius: 8px;
}

input[type="submit"]:hover {
    background-color: #0f7a9e;
    transform: translateY(-2px);
}

@media (max-width: 600px) {
    .container {
        padding: 30px;
        border-radius: 15px;
    }
}